<h1>To do List</h1>
<p>Things you need to do</p>

<ol>
	<%@activities.each do |activities|%>
	
		<li><%=activities.task%></li>
	<%end%>
</ol>
<form method ="POST" action="activities">
<input type="text" name="task">
<button>Add</button>
</form>