<h1>To do List</h1>
<p>Things you need to do</p>
	<ol>
		<%@activities.each do |activities|%>
		<li>
		<tr>
			<td><%=activities.task%></td>
			<td> 
				<%= link_to "Edit", edit_activity_path(activities)%>
			</td>
			<td> 
				<%= link_to "Delete", activities, data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
          } %>
			</td>
		</tr>
		</li>
		<%end%>
	</ol>
<!--for new todo item-->
<%= link_to "New", new_activity_path%>